.wrapper {
    margin-bottom: 2rem;
  }
  
  .label {
    margin-right: 0.5rem;
    font-weight: 600;
    color: #ccc;
  }
  
  .select {
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #222;
    color: #eee;
    border: 1px solid #444;
    font-size: 1rem;
  }
  